.productsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 132px;
  justify-content: center;
  row-gap: 30px;
  padding: 0 30px;
}

.productsCart {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

@media (min-width: 1000px) {

  .productsContainer {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    max-width: 1175px;
    row-gap: 53px;
  }
}

@media (min-width: 1175px) {

  .productsContainer {
    padding: 0;
  }
}

@media (min-width: 650px) {

  .productsContainer {
    margin-top: 110px;
  }
}
