.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--darkestGrey);
  color: var(--white);
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 30px;
  height: 3.125rem;
}

@media (min-width: 850px) {

  .headerBlock {
    max-width: 73.4375rem;
  }
}

