.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: var(--darkestGrey);
  color: var(--white);
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 30px;
  height: 3.125rem;
}

.logo {
  display: flex;
  gap: 49px;
  width: 40px;
  height: 40px;
}

.lightMode {
  display: none;
}

.screenTab {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 50;
  gap: 7px;
  overflow-y: auto;
  text-align: center;
  color: var(--textColor);
  background-color: var(--white);
  margin-top: 70px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 14px;
}

.accountButtons {
  display: none;
}

.menuList {
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  font-size: 22px;
}

.menuList li {
  width: 100%;
  padding: 20px 0;
}

.whiteSun {
  display: none;
}

/*   Burger menu */

.burger {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 22px;
  height: 10px;
  cursor: pointer;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #FFF;
  transition: all .3s ease 0s;
}

.burger::before { top: 0 }


/* add class active for animation icon */

.burger.active span { transform: scale(0) }

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (min-width: 550px) {

  .burger ul {
    flex-direction: column;
    font-size: 34px;
  }
}

@media (min-width: 850px) {

  .headerBlock {
    max-width: 1175px;
  }

  .screenTab {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: inherit;
    background-color: inherit;
    margin-top: 0;
    margin-right: 124px;
    justify-content: space-between;
  }

  .burger {
    display: none;
  }

  .account {
    display: none;
  }

  .menuList {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    gap: 49px;
  }

  .whiteSun {
    display: flex;
  }

  .lightMode {
    display: flex;
  }

  .sun {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .accountButtons {
    display: flex;
    gap: 10px;
  }

  .basket {
    margin-right: 32px;
  }

  .loginButton {
    display: flex;
    align-items: center;
    background-color: var(--grey1);
    color: var(--white);
    padding: 10px;
    gap: 6px;
    width: 96px;
    border-radius: 40px;
  }

  .singUpButton {
    display: flex;
    align-items: center;
    background-color: var(--mainRed);
    color: var(--white);
    padding: 10px;
    width: 113px;
    gap: 6px;
    border-radius: 40px;
  }
}

