.logo {
  display: flex;
  gap: 3.0625rem;
  width: 2.5rem;
  height: 2.5rem;
}

.lightMode {
  display: none;
}

.whiteSun {
  display: none;
}

@media (min-width: 850px) {

  .whiteSun {
    display: flex;
  }

  .lightMode {
    display: flex;
  }

  .sun {
    display: none;
  }
}
